/*  your css code here. If applicable */
     table,
tr,
td{
	border:1px solid black;
    padding:1px;
	
}
#head{
	text-align:center;
	margin:0px;
}
table{
	width:100%
}
.center{
	text-align:center
}
.right{
	text-align:right;
}
#t-image{
	text-align:center;
	
}
#table-2,#table-3{
	height:120px;
}
#green{
	background-color:green;
	height:15px;
}
#blue{
	background-color:blue;
	height:15px;
}




